{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Team{% endblock %}

{% block body %}
<main>
    <section class="container">
        <h2 class="mt-5">Notre équipe</h2>
        <div class="row mt-5 mb-3">
            {% for t in team %}
                {% if t.roles == ['ROLE_ADMIN'] %}
                    <div class="col-4 mb-3">
                        <div class="card">
                            <div class="card-header text-center">
                                <img src="{{ asset('/img/avatar/' ~ t.image) }}" alt="..." style="width: 100px; border-radius: 50%">
                                <h2 class="mb-3 mt-3">{{ t.firstName }} </h2>
                                <h3> {{ t.lastName |upper }}</h3>
                            </div>
                            <div class="card-body text-center">
                                <p class="fw-bold">
                                    Administrateur
                                </p>
                            </div>

                            <div class="card-footer text-muted text-center">
                                <p>Dernière connexion : {{ t.lastLogAt | date('d/m/Y') }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if t.roles == ['ROLE_SUPER_ADMIN'] %}
                    <div class="col-4 mb-3">
                        <div class="card">
                            <div class="card-header text-center">
                                <img src="{{ asset('/img/avatar/' ~ t.image) }}" alt="..." style="width: 100px; border-radius: 50%">
                                <h2 class="mb-3 mt-3">{{ t.firstName }}</h2>
                                <h3> {{ t.lastName |upper }}</h3>
                            </div>
                            <div class="card-body text-center">
                                <p class="fw-bold">
                                    Super Administrateur
                                </p>
                            </div>

                            <div class="card-footer text-muted text-center">
                                <p>Dernière connexion : {{ t.lastLogAt | date('d/m/Y') }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
