<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2 class="my-5 text-muted">Options</h2>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ app.user.firstName }} {{ app.user.lastName }}</h4>
                </div>
            </div>


            <div class="accordion" id="accordionExample">
                {# Courses #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="icofont-page"></i>&nbsp;Les cours
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin_courses') }}">Gestion des formations</a><br>
                            <a href="{{ path('admin_new_course') }}">Ajouter une formation</a><br>

                        </div>
                    </div>
                </div>
                {# Comments #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="icofont-speech-comments"></i>&nbsp;Les commentaires
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
                {# Users #}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="icofont-user-alt-6"></i>&nbsp;Les utilisateurs
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href="{{ path('admin_users') }}">Gestion des utilisateurs</a><br>
                            <a href="#">Ajouter un utilisateur</a><br>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# News #}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="icofont-news"></i>&nbsp;Les news
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">

