{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Users{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des users</h2>

    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Avatar</td>
            <td>Nom</td>
            <td>Email</td>
            <td>Crée le</td>
            <td>Rôle</td>
            <td>Actions</td>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <img src="{{ asset('img/avatar/') ~ user.image }}" alt="{{ user.firstName }} {{ user.lastName }}" class="admin-img">
                </td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.createdAt|date('d/m/Y') }}</td>
                <td>
                    {% if user.roles == ['ROLE_USER'] %} <span class="text-uppercase text-success">Utilisateur</span>
                    {% elseif user.roles == ['ROLE_ADMIN'] %} <span class="text-uppercase text-warning">Administrateur</span>
                    {% elseif user.roles == ['ROLE_SUPER_ADMIN'] %} <span class="text-uppercase text-danger">Super-Administrateur</span>
                    {% endif %}
                </td>
                <td>
                    <a href="" class="btn btn-success"><i class="icofont-ui-edit"></i></a> &nbsp;
                    {% if user.isDisabled %}
                        <a href="{{ path('admin_view_user', {'id': user.id}) }}" class="btn btn-light"><i class="icofont-eye-open"></i></a> &nbsp;
                    {% else %}
                        <a href="{{ path('admin_view_user', {'id': user.id}) }}" class="btn btn-light"><i class="icofont-eye-blocked"></i></a> &nbsp;
                    {% endif %}
                    <a href="{{ path('admin_user_promote', {id: user.id, role: "ROLE_USER"}) }}" class="btn btn-outline-secondary {% if user.roles == ['ROLE_USER'] %} disabled {% endif %}">U</a>
                    <a href="{{ path('admin_user_promote', {id: user.id, role: "ROLE_ADMIN"}) }}" class="btn btn-outline-secondary {% if user.roles == ['ROLE_ADMIN'] %} disabled {% endif %}">A</a>
                    <a href="{{ path('admin_user_promote', {id: user.id, role: "ROLE_SUPER_ADMIN"}) }}" class="btn btn-outline-secondary {% if user.roles == ['ROLER_SUPER_ADMIN'] %} disabled {% endif %}">SA</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
