{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Nos actualités {% endblock %}

{% block body %}

    <main class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="display-4 offset-2">Nos actualités</h2>
                {% for new in news %}
                    <div class="card text-center my-5">
                        <div class="card-header">
                            {{ new.name }}
                        </div>
                        <div class="card-body d-flex flex-row">
                            <div class="col-md-2">
                                <img src="{{ asset('/img/news/' ~ new.image) }}" alt="{{ new.name }}" style="width: 100px;">
                            </div>
                            <div class="col-md-10 text-lg-start">
                                <h5 class="card-title">{{ new.author.firstName }} {{ new.author.lastName }}</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Créée le {{ new.updatedAt|date("d/m/Y") }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(news) }}
            </div>
        </div>
    </main>

{% endblock %}
