{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modification de vos informations{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="my-5">Modifier vos informations</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-outline-secondary">Modifier</button>
        {{ form_end(form) }}

    </main>
{% endblock %}
