{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} My profile{% endblock %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="display-5 offset-2">Mon profil</h2>
            <div class="card mb-2" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ asset('img/avatar/') ~ app.user.image }}" class="card-img" alt="{{ app.user.firstName }} {{ app.user.lastName }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ app.user.firstName }} {{ app.user.lastName }}</h5>
                            <p class="card-text">Compte crée le {{ app.user.createdAt|date('d/m/Y') }}</p>
                            <p class="card-text">Adresse mail: {{ app.user.username }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {% if is_granted('ROLE_SUPER_ADMIN') %} <span class="text-uppercase fw-bolder">Super-Admin</span>
                                    {% elseif is_granted('ROLE_ADMIN') %} <span class="text-uppercase fw-bolder">Admin</span>
                                    {% elseif is_granted('ROLE_TEACHER') %} <span class="text-uppercase fw-bolder">Teacher</span>
                                    {% elseif is_granted('ROLE_USER') %} <span class="text-uppercase fw-bolder">Utilisateur</span>
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="display-5 offset-2">Mes commentaires (<span class="">{{ app.user.comments|length }}</span>)</h2>
            <div>
                {% for com in app.user.comments %}
                    <div>
                        <h5>Titre de commentaire: {{ com.title }}</h5> Nom du cours: <small>{{ com.course.name }}</small>
                        <h6 class="text-muted">{{ com.createdAt|date('d/m/Y') }}  {% include 'partials/rating.html.twig' %}</h6>
                        <p>{{ com.comment }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
